<mat-toolbar color="primary" class="mat-elevation-z2">
    <span>hostel</span>

    <span fxFlex="1 1 auto"></span>

    <div *ngIf="!isAdmin">
        <button mat-button routerLink="listings">Home</button>
        <button mat-button routerLink="my-listings">Meus Anúncios</button>
        <button mat-button routerLink="my-bookings">Minhas Reservas</button>
    </div>

    <div *ngIf="isAdmin">
        <button mat-button>Anúncios</button>
        <button mat-button>Reservas</button>
    </div>

    <button mat-button (click)="logout()">Logout</button>

</mat-toolbar>
